


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

  .size{
    width:100px;
    height:100px;
  }

  #tamil{
    font-size: 40px;
  }

  .image{
    height:580px
  }
  #about{
  }